/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Satisfy');
body{
  font-family: 'Roboto', sans-serif;
}
/**header**/
.flex {
  display:flex;
  height: 100%;
  justify-content:space-between;
  align-items: center;
}
.brand{
  font-family: 'satisfy',cursive;
  color: #fd837e;  //base orange
  font-size: 24px;
}
.logo{
  height: 92px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #69B1E4; //powder blue
  font-size: 20px;

}
.nav-pills>li>a{
  color: #69b1e4;
  font-size: 20px;

}
.map-container right{
  width:100%;
  height: 50%;

  }


  }
